@import url("https://fonts.cdnfonts.com/css/inter");
body {
  font-family: "Inter", sans-serif;
  background-color: #E1D4C9;
  color: #403F3D;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
}

a, li {
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  font-style: normal;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}

.icon {
  cursor: pointer;
  display: inline-block;
}

.icon_coffee-cup {
  background-image: url("/coffee-house/img/coffee-cup.svg");
  width: 18px;
  height: 19px;
  margin-left: 8px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.enjoy {
  background-image: url(/coffee-house/img/enjoy.jpg);
  background-position: center;
  background-size: cover;
  height: 644px;
  border-radius: 40px;
  padding: 100px;
  margin-bottom: 100px;
}
.enjoy__content {
  color: #E1D4C9;
  padding-right: 630px;
}
.enjoy__title {
  margin-bottom: 40px;
}
.enjoy__title-accent {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  font-style: italic;
  color: #B0907A;
}
.enjoy__text {
  margin-bottom: 40px;
}

.enjoy__link {
  display: inline-block;
  padding: 20px 65px;
  background-color: #E1D4C9;
  border-radius: 100px;
  color: #403F3D;
}
.enjoy__link-container {
  display: flex;
  justify-content: center;
}
.enjoy__link-text {
  transition: all 0.7s ease;
  position: relative;
  right: -13px;
}
.enjoy__link .icon_coffee-cup {
  opacity: 0;
  transition: opacity 0.7s ease;
}
.enjoy__link:hover .enjoy__link-text {
  right: 0;
}
.enjoy__link:hover .icon_coffee-cup {
  opacity: 1;
}

.favorite-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-bottom: 100px;
}
.favorite-coffee__title-accent {
  font-size: 60px;
  font-weight: 600;
  line-height: 105%;
  font-style: italic;
  color: #B0907A;
}
.favorite-coffee__controls {
  display: flex;
  gap: 12px;
}
.favorite-coffee__controls > * {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}
.favorite-coffee__controls > *:first-child {
  background: #665F55;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.slider__btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  background: transparent;
}
.slider__inner-wrapper {
  width: 1152px;
  display: flex;
  justify-content: center;
}

.slider__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 480px;
}
.slider__content-img {
  margin-bottom: 20px;
}
.slider__content-title {
  margin-bottom: 16px;
}
.slider__content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  margin-bottom: 16px;
}

.btn {
  transition: all 0.7s ease;
}

.btn:hover {
  background: #665F55;
}
.btn:hover path {
  stroke: #E1D4C9;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.about__title {
  font-size: 59.8px;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
  text-align: left;
  margin-bottom: 40px;
}
.about__title-accent {
  font-size: 59.9px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
  color: #B0907A;
}

.about__items {
  display: flex;
  gap: 40px;
}
.about__items-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__item {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.item-big {
  height: 590px;
}

.about__item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transform: scale(1.1);
  transition: 0.8s;
}
.about__item > img:hover {
  transform: scale(1);
  transition: 0.8s;
}

.wrapper {
  margin: auto;
  width: 1360px;
}

.container {
  margin: auto;
  width: 1360px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.logo {
  pointer-events: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.navigation__link, .menu-link {
  list-style: none;
  cursor: pointer;
}
.navigation__link:after, .menu-link:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #403F3D;
  opacity: 0;
  transition: all 0.7s ease;
  transform: scale(0);
  transform-origin: center;
}
.navigation__link:hover:after, .menu-link:hover:after {
  opacity: 1;
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */