@import url("https://fonts.cdnfonts.com/css/inter");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #E1D4C9;
  color: #403F3D;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  scroll-behavior: smooth;
}

a, li, button {
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  font-style: normal;
}

.stop-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  font-style: normal;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}

.h2__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}
@media (max-width: 715px) {
  .h2__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    font-style: normal;
  }
}

.h2__title-accent {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
  color: #B0907A;
}
@media (max-width: 715px) {
  .h2__title-accent {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    font-style: italic;
  }
}

.font-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
}

.icon {
  display: inline-block;
  margin-right: 8px;
}
.icon-phone {
  background-image: url(../img/icons/footer/phone.svg);
  width: 20px;
  height: 20px;
}
.icon-info {
  background-image: url(../img/icons/info.svg);
  width: 16px;
  height: 16px;
}

.icon_coffee-cup {
  background-image: url(../img/icons/coffee-cup.svg);
  width: 18px;
  height: 19px;
  margin-right: 0;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .icon_coffee-cup-tablet {
    background-image: url(../img/icons/coffee-cup-burger.svg);
    width: 40px;
    height: 40px;
    vertical-align: sub;
  }
}

.icon__apple,
.icon__play-market {
  height: 36px;
}

.icon-map {
  background-image: url(../img/icons/footer/map.svg);
  width: 20px;
  height: 20px;
}

.icon-clock {
  background-image: url(../img/icons/footer/clock.svg);
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.icon-tag {
  width: 30px;
  height: 30px;
}

.btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  background: transparent;
}
@media (hover: hover) {
  .btn:hover {
    background: #665F55;
    color: #E1D4C9;
  }
  .btn:hover path {
    stroke: #E1D4C9;
    transition: all 1.7s ease;
  }
}

.btn, .link {
  transition: all 0.7s ease;
}
.btn path, .link path {
  transition: all 1.5s ease;
}

.disabled {
  pointer-events: none;
}

.burger-btn {
  display: none;
  width: 44px;
  height: 44px;
  padding: 18px 14px;
  position: relative;
  border-radius: 100px;
  border: 1px solid #665F55;
  background: transparent;
}
.burger-btn .burger__line {
  position: absolute;
  right: 30%;
  width: 16px;
  height: 1px;
  background-color: #403F3D;
  border-radius: 1.5px;
  transition: transform 0.4s ease-in-out, top 0.3s ease-in-out;
}
.burger-btn .burger__line:first-child {
  top: 40%;
}
.burger-btn .burger__line:last-child {
  bottom: 40%;
}
@media (max-width: 768px) {
  .burger-btn {
    display: block;
  }
}

.burger--active .burger__line:first-child {
  top: 50%;
  transform: rotate(45deg);
}
.burger--active .burger__line:last-child {
  top: 50%;
  transform: rotate(-45deg);
}

.refresh-btn {
  display: none;
  margin-top: 40px;
}
.refresh-btn--visible {
  display: flex;
}

.form-btn {
  width: 100%;
  height: 44px;
}

.link {
  display: inline-block;
  background-color: #E1D4C9;
  border-radius: 100px;
  color: #403F3D;
}
.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.product-modal {
  display: flex;
  align-items: flex-start;
}

.modal {
  position: relative;
  border-radius: 40px;
  padding: 16px;
  background-color: #E1D4C9;
  max-width: 800px;
  height: -moz-max-content;
  height: max-content;
  overflow: auto;
}
.modal .form__alert {
  display: flex;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  font-style: normal;
  padding: 12px 0;
}
.modal .form__alert span:nth-child(2) {
  flex: 1 0 0;
}
.modal__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal__description .description {
  margin-top: -8px;
}
.modal__description .total-price {
  display: flex;
  justify-content: space-between;
}
.modal__description .line:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #C1B6AD;
}
.modal__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}
.modal__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  padding: 7px 15px 7px 7px;
  border: 1px solid #C1B6AD;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.7s ease;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.modal__tag input {
  display: none;
}
.modal__tag.selected {
  background-color: #665F55;
  border-color: #665F55;
  cursor: default;
}
.modal__tag.selected .modal__tag-text {
  color: #E1D4C9;
}
.modal__tag.selected .modal__circle {
  background: #E1D4C9;
}
@media (hover: hover) {
  .modal__tag:hover {
    background-color: #665F55;
    border-color: #665F55;
  }
  .modal__tag:hover .modal__tag-text {
    color: #E1D4C9;
  }
  .modal__tag:hover .modal__circle {
    background: #E1D4C9;
  }
}
.modal__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #C1B6AD;
  border-radius: 100px;
  margin-right: 8px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1360px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1360px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 415px) {
  .wrapper {
    padding: 0 16px;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 65.5%;
}
@media (max-width: 1024px) {
  .nav {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 60px 40px;
    gap: 100px;
    position: absolute;
    left: 100%;
    top: 100px;
    min-height: calc(100vh - 99px);
    z-index: 1;
    background-color: #E1D4C9;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .nav a {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    font-style: normal;
  }
  .nav--visible {
    transform: translateX(-100%);
  }
}
@media (max-width: 715px) {
  .nav {
    padding: 60px 16px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}
@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.navigation__link, .menu-link {
  list-style: none;
  cursor: pointer;
}
@media (hover: hover) {
  .navigation__link:after, .menu-link:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #403F3D;
    opacity: 0;
    transition: all 0.7s ease;
    transform: scale(0);
    transform-origin: center;
  }
  .navigation__link:hover:after, .menu-link:hover:after {
    opacity: 1;
    transform: scale(1);
  }
}

.enjoy {
  padding: 100px;
  position: relative;
  margin-bottom: 100px;
}
@media (max-width: 1360px) {
  .enjoy {
    padding: 100px 60px;
  }
}
@media (max-width: 715px) {
  .enjoy {
    padding: 60px 16px;
  }
}
.enjoy__content {
  color: #E1D4C9;
  width: 46%;
}
@media (max-width: 1360px) {
  .enjoy__content {
    width: 100%;
  }
}
.enjoy__title {
  margin-bottom: 40px;
}
.enjoy__title-accent {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  font-style: italic;
  color: #B0907A;
}
@media (max-width: 715px) {
  .enjoy__title-accent {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
    font-style: italic;
  }
}
@media (max-width: 715px) {
  .enjoy__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
    font-style: normal;
  }
}
.enjoy__text {
  margin-bottom: 40px;
}

.enjoy__link {
  padding: 20px 65px;
}
.enjoy__link-text {
  transition: all 0.7s ease;
  position: relative;
  right: -13px;
}
.enjoy__link .icon_coffee-cup {
  opacity: 0;
  transition: opacity 0.7s ease;
}
@media (hover: hover) {
  .enjoy__link:hover .enjoy__link-text {
    right: 0;
  }
  .enjoy__link:hover .icon_coffee-cup {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .enjoy__link .icon_coffee-cup {
    opacity: 1;
  }
  .enjoy__link .enjoy__link-text {
    right: 0;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.favorite-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-bottom: 100px;
}
.favorite-coffee__controls {
  display: flex;
  gap: 12px;
}
.favorite-coffee .progress__container {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}
.favorite-coffee .progress {
  width: 0;
  background: #665F55;
  border-radius: 5px;
  height: inherit;
}
.favorite-coffee .control-active {
  background: #665F55;
  transition: 1s;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 715px) {
  .slider {
    justify-content: center;
  }
}
@media (max-width: 715px) {
  .slider__btn {
    display: none;
  }
}
.slider__inner-wrapper {
  max-width: 480px;
  overflow: hidden;
  display: flex;
}

.slider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 480px;
}
.slider__content-img {
  margin-bottom: 20px;
}
.slider__content-title {
  margin-bottom: 16px;
}
.slider__content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  margin-bottom: 16px;
}
@media (max-width: 715px) {
  .slider__content {
    max-width: 348px;
  }
}

.slider-line {
  position: relative;
  display: flex;
  transition: 1s;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.about .h2__title {
  font-size: 59.9px;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
  text-align: left;
  margin-bottom: 40px;
}
@media (max-width: 715px) {
  .about .h2__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    font-style: normal;
  }
}

.about__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.about__items-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.about__items-column .item-big {
  height: 590px;
}
@media (max-width: 1024px) {
  .about__items {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .about__img-hidden {
    display: none;
  }
}

.img-wrapper {
  width: 100%;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.img-wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
  transition: 0.8s;
}
@media (hover: hover) {
  .img-wrapper > img:hover {
    transform: scale(1);
  }
}
@media (max-width: 1024px) {
  .img-wrapper > img {
    transform: scale(1.05);
  }
}
@media (max-width: 715px) {
  .img-wrapper > img {
    transform: scale(1.23);
  }
}

.mobile-app {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}
.mobile-app__content {
  display: flex;
  flex-direction: column;
  width: 630px;
  gap: 40px;
}
.mobile-app__links {
  display: flex;
  gap: 20px;
}
@media (max-width: 715px) {
  .mobile-app__links {
    flex-direction: column;
  }
}
.mobile-app__link {
  width: 200px;
  padding: 12px 20px;
  border: 1px solid #665F55;
}
.mobile-app__link-container {
  justify-content: start;
}
.mobile-app__link-text {
  display: block;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
}
@media (hover: hover) {
  .mobile-app__link:hover {
    background: #665F55;
    color: #E1D4C9;
  }
  .mobile-app__link:hover path {
    fill: #E1D4C9;
    transition: all 1.7s ease;
  }
}
@media (max-width: 768px) {
  .mobile-app {
    flex-direction: column;
  }
  .mobile-app__content {
    width: 100%;
  }
}
@media (max-width: 715px) {
  .mobile-app {
    gap: 40px;
  }
}

.footer {
  padding: 100px;
  background: #665F55;
  color: #E1D4C9;
  border-radius: 40px;
  margin-bottom: 40px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 46%;
}
.footer__column-right {
  justify-content: center;
}
.footer__column-right > h3 {
  margin-left: 3px;
}
@media (max-width: 768px) {
  .footer__column-right > h3 {
    margin-left: 0;
    margin-top: 3px;
  }
}
.footer__links {
  display: flex;
  gap: 12px;
}
.footer__links > * {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #665F55;
  border: 1px solid #C1B6AD;
}
@media (hover: hover) {
  .footer__links > *:hover {
    background-color: #E1D4C9;
  }
  .footer__links > *:hover path {
    stroke: #403F3D;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 100px 60px;
  }
  .footer__content {
    flex-direction: column;
    gap: 100px;
  }
}
@media (max-width: 715px) {
  .footer {
    padding: 60px 16px;
  }
  .footer .footer__content {
    gap: 40px;
  }
}

.footer__contacts {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: start;
  gap: 16px;
  margin-left: 4px;
  margin-top: -5px;
}
.footer__contacts > a {
  align-self: flex-start;
}
@media (max-width: 768px) {
  .footer__contacts {
    margin-left: 0px;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .footer__contacts {
    margin-top: -6px;
  }
}

.footer-after:after {
  background-color: #E1D4C9;
}

.menu-link__on-menu-page {
  cursor: default;
}
.menu-link__on-menu-page:after {
  opacity: 1;
  transform: scale(1);
}
@media (hover: none) {
  .menu-link__on-menu-page:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #403F3D;
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .menu-link__on-menu-page:after {
    opacity: 0;
  }
}

.h1 {
  display: none;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.offer h2 {
  width: 60%;
}
@media (max-width: 1024px) {
  .offer h2 {
    width: 100%;
  }
}
.offer__tags {
  display: flex;
  justify-content: center;
  gap: 14px;
}
@media (max-width: 715px) {
  .offer__tags {
    gap: 6px;
  }
}

.tag {
  cursor: pointer;
  padding: 8px 16px 8px 8px;
  border: 1px solid #C1B6AD;
  transition: all 0.7s ease;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.tag__selected {
  color: #E1D4C9;
  background-color: #665F55;
  border-color: #665F55;
  cursor: default;
}
.tag__selected rect {
  fill: #E1D4C9;
  transition: all 1.7s ease;
}
@media (hover: hover) {
  .tag:hover {
    color: #E1D4C9;
    background-color: #665F55;
    border-color: #665F55;
  }
  .tag:hover rect {
    fill: #E1D4C9;
    transition: all 1.7s ease;
  }
}

.cards {
  display: grid;
  gap: 40px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 310px));
  grid-template-rows: repeat(2, 506px);
  justify-content: center;
}
.cards__container {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .img-wrapper_cards > img {
    transform: scale(1.1);
  }
}
.card {
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  cursor: pointer;
}
.card--hidden {
  display: none;
}
@media (hover: hover) {
  .card:hover .img-wrapper_cards > img {
    transform: scale(1);
  }
}

.img-wrapper_cards {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  flex-shrink: 0;
}

.modal__img {
  margin-right: 20px;
}
@media (max-width: 715px) {
  .modal__img {
    display: none;
  }
}

.img-wrapper_cards > img {
  width: 310px;
}

.card__description {
  display: grid;
  grid-template-rows: 30px 72px 30px;
  gap: 12px;
  padding: 20px;
}/*# sourceMappingURL=style.css.map */