html {
    height: 100%;
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

header {
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background: #17181c;
    z-index: 2;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer {
    font-size: 0.9rem;
    color: #333;
    text-align: center;
}
footer a {
    color: #444;
}
footer a:hover {
    color: #555;
}

footer img {
    width: 30%;
}

.copyright {
    margin-right: 10px;
}
footer .copyright:before {
    content: '©';
}

@media (max-width: 600px) {
    html {
        font-size: 2.8vw;
    }
    header {
        padding: 5px 5px;
    }
}
