.login-page {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.form {
    margin: 10px;
    text-align: center;
}

.form > * {
    margin-left: auto;
    margin-right: auto;
}
.input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* .input:focus {
    border: none;
} */

.valid {
    border: 1px solid green;
}

.invalid {
    border: 1px solid red;
}

.inputNameError,
.inputSurnameError {
    width: 70%;
    display: inline-block;
    /* height: 1rem; */
    font-size: 12px;
    color: red;;
}
