.gallows {
  margin: 20px;
  position: relative;
}

.wrapper {
  top: 20%;
  left: 65%;
  position: absolute;
}

.body-parts-container {
  max-width: 250px;
  min-width: 150px;
  height: 450px;
  position: relative;
  .body-part-1 {
    max-width: 70px;
    position: absolute;
    top: 0;
    right: 42%;
    z-index: 1;
  }
  .body-part-2 {
    position: absolute;
    top: 10%;
    right: 50%;
  }
  .body-part-3 {
    position: absolute;
    top: 20%;
    right: 50%;
  }
  .body-part-4 {
    position: absolute;
    top: 20%;
    left: 48%;
  }
  .body-part-5 {
    position: absolute;
    top: 38%;
    right: 50%;
  }
  .body-part-6 {
    position: absolute;
    top: 38%;
    left: 48%;
  }
}
