.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.568);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  // @include mobile {
  //     padding: 20px;
  // }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  border-radius: 10px;
  padding: 30px;
  background: rgb(104, 114, 187);
  max-width: 800px;
  min-width: 400px;
  height: max-content;
  overflow: auto;
  &__btn {
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
  }
}
