@mixin font ($size: 16px, $weight: 600, $height: 125%, $style: normal) {
    font-size:  $size;
    font-weight: $weight;
    line-height: $height;
    font-style: $style;
}

@mixin laptop {
    @media (max-width: $content-width) {@content;}
}

@mixin tablet {
    @media (max-width: $tablet-width) {@content;}
}
@mixin pre-tablet {
    @media (max-width: $pre-tablet) {@content;}
}

@mixin mobile {
    @media (max-width: $mobile-width) {@content;}
}