$color-background-body: #E1D4C9;
$color-background-container: #665F55;
$color-background-backdrop: #403F3DCC;

$color-text-dark: #403F3D;
$color-text-light: #E1D4C9;
$color-text-accent: #B0907A;

$color-border-light: #C1B6AD;
$color-border-dark: #665F55;



$content-width: 1360px;
$margin-between-components: 100px;
$gap: 40px;