.menu-link__on-menu-page {
    cursor: default;
    &:after {
        opacity: 1;
        transform: scale(1);
    }
    @media (hover: none) {
        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: $color-text-dark;
            opacity: 1;
            transform: scale(1);
        }
    }

}

.h1 {
    display: none;
}
.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
    text-align: center;
    h2 {
        width: 60%;
        @include pre-tablet {
            width: 100%;
        }
    }
    &__tags {
        @include font($weight: 600, $height: 150%);
        display: flex;
        justify-content: center;
        gap: 14px;
        @include mobile {
            gap: 6px;
        }
    }
    margin-bottom: $gap;
}

.tag {
    cursor: pointer;
    padding: 8px 16px 8px 8px;
    border: 1px solid $color-border-light;
    transition: all 0.7s ease;
    &__selected {
        color: $color-text-light;
        background-color: $color-background-container;
        border-color: $color-background-container;
        pointer-events: none;
        rect {
            fill: $color-background-body;
            transition: all 1.7s ease;
        }
    }
    @media (hover: hover) {
        &:hover {
            color: $color-text-light;
            background-color: $color-background-container;
            border-color: $color-background-container;
            rect {
                fill: $color-background-body;
                transition: all 1.7s ease;
            }
        }
    }

}

.cards {
    display: grid;
    gap: 40px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 310px));
    grid-template-rows: repeat(2, 506px);
    justify-content:center;
   &__container {
    margin-bottom: $margin-between-components;
   }}
    @include tablet {
        .card:nth-child(n+5) {
            display: none;
        }
        .refresh-btn {
            display: flex;
        }
        .img-wrapper > img {
            transform: scale(1.1);
        }
    }
    .card {
        border: 1px solid $color-border-light;
        border-radius: 40px;
        cursor: pointer;
        @media (hover: hover) {
            &:hover {
                .img-wrapper > img {
                    transform: scale(1.0);
                }
            }
        }
    }

    .img-wrapper {
        width: inherit;
        height: inherit;
        border-radius: 40px;
    }


.card__description {
    display: grid;
    grid-template-rows: 30px 72px 30px;
    gap: 12px;
    padding: 20px;
}