.about {
display: flex;
flex-direction: column;
margin-bottom: $margin-between-components;
.h2__title {
    @include font ($size: 59.9px);
    text-align: left;
    margin-bottom: 40px;
}
}

.about__items {
   display: flex;
   gap: $gap;
   &-column {
    display: flex;
    flex-direction: column;
    gap: $gap;
    .about__item {
        width: 660px;
        height: 430px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
    }
    .item-big {
    height: 590px;
    }
}
}

.about__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 0.8s;
    &:hover {
        transform: scale(1.0);
    }
}