.about {
display: flex;
flex-direction: column;
margin-bottom: $margin-between-components;
.h2__title {
    @include font ($size: 59.9px);
    text-align: left;
    margin-bottom: 40px;
    @include mobile {
        @include font ($size: 32px);
    }

}
}

.about__items {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: $gap;
   &-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $gap;
    
    .item-big {
    height: 590px;
    }
}
@include pre-tablet {
    flex-wrap: wrap;
    
}
}

.about__img-hidden {
    @include pre-tablet {
        display: none;
    
    }

}

.img-wrapper {
    width: 100%;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 0.8s;
    @media (hover: hover) {
        &:hover {
            transform: scale(1.0);
        }
    }

    @include pre-tablet {
        transform: scale(1.05);
    }
    @include mobile {
        transform: scale(1.23);
    }

}