.wrapper {
    margin: 0 auto;
    max-width: $content-width;
    @include laptop {
        padding: 0 40px;
    }
    @include mobile {
        padding: 0 16px;
    }
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}