.wrapper {
    margin: 0 auto;
    max-width: $content-width;
    @include laptop {
        padding: 0 40px;
    }
    @include mobile {
        padding: 0 16px;
    }


    // width: 100%;
    // padding: 0 40px;
}
// .container {
//     margin:auto;
//     max-width: $content-width;
// }