.wrapper {
    margin: 0 auto;
    max-width: $content-width;
    @include laptop {
        padding: 0 40px;
    }
    @media (max-width: 415px) {
        padding: 0 16px;
    }

    // to hide burger menu without horizontal scroll
    overflow: hidden;
    position: relative;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}