.favorite-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
    text-align: center;
    margin-bottom: $margin-between-components;
    &__controls {
            display: flex;
            gap: 12px;
        } 
    .progress__container {
            width: 40px;
            height: 4px;
            border-radius: 100px;
            background: $color-border-light;
    }

    .progress {
        width: 0;
        background: $color-border-dark;
        border-radius: 5px;
        height: inherit;
    }
        .control-active {
            background: $color-border-dark;
            transition: 1s;
        }
    }
   

.slider {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
        justify-content: center;
    }
    &__btn {
    @include mobile {
        display: none;
    }

    }
    &__inner-wrapper {
        max-width: 480px;
        overflow: hidden;
        display: flex;
        

    }
}

.slider__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 480px;
    &-img {
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 16px;
    }
    &-text {
        @include font ($weight:400, $height: 150%);
        margin-bottom: 16px;
    }
    @include mobile {
        max-width: 348px;
    }

}


.slider-line {
    position: relative;
    display: flex;
    transition: 1s;
}

// .progress__container {
//     width: 100%;
//     height: 10px;
//     border-radius: 5px;
//     margin-top: 50px;
//     background: #e4ecf3;
//     display: flex;
//     align-items: center;
//     cursor: pointer;
// }

// .progress {
//     background: rgb(148, 148, 218);
//     border-radius: 5px;
//     height: inherit;
// } 