.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 65.5%;
    @include pre-tablet {
        width: 100%;
        justify-content: space-evenly;
    }
    @include tablet {
        justify-content: flex-start;
        // align-items: center;
        text-align: center;
        padding: 60px 40px;
        gap: 100px;

        position: absolute;
        left: 100%;
        top: 100px;
        height: calc(100vh - 100px);
        // overflow-y: hidden;
        z-index: 1;
        flex-direction: column;
        background-color: $color-background-body;
        transition: transform 0.6s ease-in-out, visibility 0.6s ease-in-out;
        transform: translateX(0);
        // visibility: hidden;
        & >*a {
            @include font ($size: 32px, $height: 125%); 
        } 
    }
    @include mobile {
        padding: 60px 16px;
    }

}

.nav--visible {
    transform: translateX(-100%);
    // visibility: visible;
  }

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: $gap;
    @include tablet {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}

.navigation__link, .menu-link {
    list-style: none;
    cursor: pointer;
    @media (hover: hover) {
        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: $color-text-dark;
            opacity: 0;
            transition: all 0.7s ease;
            transform: scale(0);
            transform-origin: center;
    
        }
        &:hover:after {
            opacity: 1;
            transform: scale(1);
        }
    }
   
}

