.mobile-app {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: $margin-between-components;
    &__content {
        display: flex;
        flex-direction: column;
        width: 630px;
        gap: $gap;
    }
    &__links {
        display: flex;
        gap: 20px;
    }
    &__link {
        width: 200px;
        padding: 12px 20px;
        border: 1px solid $color-border-dark; 
        &-container {
            justify-content: start;
        }
        &-text {
            display: block;
            @include font($size: 10px, $height: 140%)
        }
        &:hover {
            background: $color-background-container;
            color: $color-text-light;
            path {
                // stroke: $color-text-light;
                fill: $color-text-light;
                transition: all 1.7s ease;
        } 
        }
    }
}