@import url('https://fonts.cdnfonts.com/css/inter');

body {
    background-color: $color-background-body;
    font-family: 'Inter', sans-serif;
    color: $color-text-dark;
                                                
}

a {
    color: inherit;
}