@import url('https://fonts.cdnfonts.com/css/inter');
html {
    scroll-behavior: smooth;
    }
body {
    font-family: 'Inter', sans-serif;
    background-color: $color-background-body;
    color: $color-text-dark;
    @include font(16px, 400, 1.5); 
    scroll-behavior: smooth;         
}

a, li, button {
    color: inherit;
    @include font($weight: 600, $height: 1.5);
}

.stop-scroll {
    overflow: hidden;
}