@import url('https://fonts.cdnfonts.com/css/inter');
html {
    scroll-behavior: smooth;
    }
body {
    font-family: 'Inter', sans-serif;
    background-color: $color-background-body;
    color: $color-text-dark;
    @include font(16px, 400, 150%);                                           
}

a, li, button {
    color: inherit;
    @include font($weight: 600, $height: 150%);
}

h1 {    
    @include font(72px, 600, 105%);
}

h2 {
    @include font($size: 60px);
}

h3 {
    @include font ($size: 24px)
}