* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  img {
    max-width: 100%;
  }
}
.body {
  color: #f8f8f8;
  background: rgb(51, 51, 51);
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}

.quiz {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
}
.content .guesses-counter {
  color: rgb(104, 114, 187);
  font-weight: 900;
}

.word {
  list-style: none;
  display: flex;
  gap: 20px;
}
.word .character {
  min-width: 30px;
  border-bottom: 2px solid #f8f8f8;
  color: rgb(104, 114, 187);
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}
.word .character--guessed {
  border-bottom: 2px solid transparent;
}

.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.keyboard__btn {
  width: 50px;
  height: 50px;
  line-height: 35px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  color: #f8f8f8;
  font-size: 1.3rem;
  background: rgb(24, 24, 24);
  text-transform: uppercase;
  cursor: pointer;
}
.keyboard__btn:hover {
  background: rgba(24, 24, 24, 0.384);
}
.keyboard .disabled {
  cursor: default;
  opacity: 0.5;
}
.keyboard .new-line {
  clear: both;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.568);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  border-radius: 10px;
  padding: 30px;
  background: rgb(104, 114, 187);
  max-width: 800px;
  min-width: 400px;
  height: -moz-max-content;
  height: max-content;
  overflow: auto;
}
.modal__btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.gallows {
  margin: 20px;
  position: relative;
}

.wrapper {
  top: 20%;
  left: 65%;
  position: absolute;
}

.body-parts-container {
  max-width: 250px;
  min-width: 150px;
  height: 450px;
  position: relative;
}
.body-parts-container .body-part-1 {
  max-width: 70px;
  position: absolute;
  top: 0;
  right: 42%;
  z-index: 1;
}
.body-parts-container .body-part-2 {
  position: absolute;
  top: 10%;
  right: 50%;
}
.body-parts-container .body-part-3 {
  position: absolute;
  top: 20%;
  right: 50%;
}
.body-parts-container .body-part-4 {
  position: absolute;
  top: 20%;
  left: 48%;
}
.body-parts-container .body-part-5 {
  position: absolute;
  top: 38%;
  right: 50%;
}
.body-parts-container .body-part-6 {
  position: absolute;
  top: 38%;
  left: 48%;
}/*# sourceMappingURL=main.css.map */