* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #293241;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button {
    cursor: pointer;
    width: 80px;
    text-transform: capitalize;
    background-color: #e0fbfc;
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: 0.3s linear;
}

button:hover:not(:disabled) {
    background-color: #ee6c4d;
    transition: 0.3s linear;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.wrapper {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #3d5a80;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    backdrop-filter: blur(1px);
}
.block-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #3d5a80;
    background-color: #98c1d9;
    max-width: 450px;
    min-width: 250px;
    border-radius: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}
