@media (max-width: 600px) {
    html {
      font-size: 2.8vw;
    }
  }

.wrapper {
    padding: 2rem;
}
.garage-page {
    padding: 2rem;
}

.winners-table {
    display: flex;
    text-transform: capitalize;
}

.column {
    border-top: 1px solid var(--black-light);
    border-right: 1px solid var(--black-light);
    border-bottom: 1px solid var(--black-light);
    padding: .5rem;
    width: max-content;
    text-wrap: nowrap;
}

.svg {
    position: relative;
    color: transparent;
    min-width: 6rem;
}

.column p {
    padding: 5px;
    text-transform: uppercase;
}

.form-disabled {
pointer-events: none;
opacity: 0.5;
}

