.wrapper {
    padding: 2rem;
}
.garage-page {
    padding: 2rem;
}

.winners-table {
    display: flex;
    /* gap: 15px; */
    text-transform: capitalize;
}

.column {
    border-top: 1px solid var(--black-light);
    border-right: 1px solid var(--black-light);
    border-bottom: 1px solid var(--black-light);
    padding: .5rem;
    width: max-content;
}

.svg {
    position: relative;
    color: transparent;
    min-width: 6rem;
}

.column p {
    padding: 5px;
    text-transform: uppercase;
}

.svg {
    position: relative;
}


.form-disabled {
pointer-events: none;
opacity: 0.5;
}