@media (max-width: 600px) {
    html {
        font-size: 2.8vw;
    }
}

.wrapper {
    padding: 2rem;
}
.garage-page {
    padding: 2rem;
}

.winners-table {
    display: flex;
    text-transform: capitalize;
}

.column {
    border-top: 1px solid var(--black-light);
    border-right: 1px solid var(--black-light);
    border-bottom: 1px solid var(--black-light);
    padding: 0.5rem;
    width: max-content;
    text-wrap: nowrap;
}

.svg {
    position: relative;
    color: transparent;
    min-width: 6rem;
}

.column p {
    padding: 5px;
    text-transform: uppercase;
}

.form-disabled {
    pointer-events: none;
    opacity: 0.5;
}
.win-announcement {
    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;

    color: #f5f5f5;
    text-shadow:
        0px -1px 3px #c19c9c,
        0px -2px 6px #ff3,
        0px -6px 12px #f90,
        0px -10px 20px #c33;
}
