.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #665f55;
    background: #ffffff;
    cursor: pointer;
    padding: 0.8rem;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    transition: all 0.7s ease;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background: #60ad7a;
    border: 1px solid transparent;
    color: #ffffff;
}

.button-game {
    font-size: 0.8rem;
    padding: 0.3rem;
    margin-right: 20px;
    width: 120px;
}
