.car__wrapper {
    border: 1px solid var(--black-light);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.button {
    border: 1px solid var(--black-light);
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 0.2rem;
}

.btn-disabled,
button:disabled {
    opacity: 0.5;
    cursor: default;
}



.car__lower-block {
    display: flex;
    border-bottom: 1px dashed var(--black);
    position: relative;
    margin-top: 1.5rem;
}

.svg-container {
    width: 100px;
    position: absolute;
    bottom: -7px;
    left: 90px;
    transition: transform 0.4s ease;
}
