button {
  border: 1px solid var(--button-border);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--color-background);
  font-size: 1rem;
  font-weight: 400;
  margin: 5px;
  box-shadow: var( --box-shadow);
  &:hover {
    transform: translateY(-1px);
    transition: 0.1s;
  }
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.levels-container,
.titles-container {
  display: flex;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid var(--button-border);
  background: var(--color-background);
  transition: all 0.7s ease;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 150%;
  &_easy {
    border: 1px solid $text-color-easy;
    color: $text-color-easy;
  }
  &_medium {
    border: 1px solid $text-color-medium;
    color: $text-color-medium;
  }
  &_hard {
    border: 1px solid $text-color-hard;
    color: $text-color-hard;
  }
  &:hover {
    transform: translateY(-1px);
    transition: 0.1s;
  }
}

input[type="radio"]:checked + label {
  background-color: var(--levels);
  border-color: var(--levels);
  box-shadow: var( --box-shadow);
}
