$accent-color-opacity: #87d6e4b2;
$accent-color: #bbe4ec;
$text-color-basic: #222222;
$text-color-accent: #297491;

$text-color-easy: #31c48d;
$text-color-medium: #f4c12c;
$text-color-hard: #d13939;

$color-background: #fff;
$color-background-accent: #e6e6e6
;
