.container {
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  outline: 2px solid rgb(0, 0, 0);
}
.clues-top,
.clues-left {
  background-color: #e6e6e6;
}

.clues-top > div:nth-child(5n + 5) {
  border-right: 2px black solid;
}

.grid {
  background-color: #fff;
  outline: 2px solid black;
  &-disabled {
    pointer-events: none;
  }
  // border-left: 2px solid black;
}

.grid,
.clues-top,
.clues-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
  //

  .row {
    display: flex;
    justify-content: end;
    min-height: 20px;
    width: 100%;
    &-left {
      border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    &:nth-child(5n + 5) {
      border-bottom: 2px black solid;
    }

    .cell {
      width: 20px;
      height: 20px;
      line-height: 1.2;
      &-game {
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        &.checked {
          background-color: black;
        }
      }
      &-top {
        border-right: 1px solid rgba(0, 0, 0, 0.5);
      }
      &:nth-child(5n + 5) {
        border-right: 2px black solid;
      }
    }
  }
}
.clues-top {
  flex-direction: row;
  > div {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    // border-left: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }
}
