.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.568);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  border-radius: 10px;
  padding: 30px;
  background: $accent-color;
  max-width: 800px;
  min-width: 350px;
  height: max-content;
  overflow: auto;

  &__btn {
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

.hidden {
  display: none;
}

.modal__content {
  display: flex;
  justify-content: center;
  gap: 15px;
  text-transform: uppercase;
}

.score_column p {
  padding: 5px;
  border-bottom: 1px solid black;
}
