.btn {
    transition: all 0.7s ease;
    path {
        stroke: $color-text-dark;
        fill: $color-text-dark;
        transition: all 1.5s ease;
} 
}
.btn:hover {
    background: $color-background-container;
    color: $color-text-light;
    path {
        stroke: $color-text-light;
        fill: $color-text-light;
        transition: all 1.7s ease;
} 
}