.btn {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid $color-border-dark;
    background: transparent;

    &:hover {
        @media (hover: hover) {
            background: $color-background-container;
            color: $color-text-light;
            path {
                    stroke: $color-text-light;
                    transition: all 1.7s ease;
            } 
        }
    }
}
.btn, .link {
    transition: all 0.7s ease;
        path {
            transition: all 1.5s ease;
    } 
}

.disabled {
    pointer-events: none;
}

.burger-btn {
    display: none;
    width: 44px;
    height: 44px;
    padding: 18px 14px;
    // justify-content: center;
    // align-items: center;
    position: relative;
    border-radius: 100px;
    border: 1px solid $color-border-dark;
    background: transparent;
    // .lines-wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 8px;

    // }
    .burger__line {
        position: absolute;
        right: 30%;
        width: 16px;
        height: 1px;
        background-color: $color-text-dark;
        border-radius: 1.5px;
        &:first-child {
            top: 40%;
        }
        &:last-child {
            bottom: 40%;
        }
        transition: transform 0.4s ease-in-out, top 0.3s ease-in-out ;

    }
    @include tablet {
        display: block;
    }
}
.burger--active {
    .burger__line:first-child {
        top: 50%;
        transform: rotate(45deg);
    }
    .burger__line:last-child {
        top: 50%;
        transform: rotate(-45deg);
    }
}


// .burger--active .burger__line:first-child {
//     top: 50%;
//     transform: rotate(45deg);
// }

.refresh-btn {
    display: none;
    margin-top: 40px;
    &--visible {
        display: flex;
    }
}
