.icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;

}

.icon_coffee-cup {
    background-image: url('/coffee-house/img/coffee-cup.svg');
    width: 18px;
    height: 19px;
    margin-right: 0;
    margin-left: 8px;
}

.icon__play-market{
    background-image: url('/coffee-house/img/play-market.svg');
    width: 36px;
    height: 36px;

}

.icon__apple {
    background-image: url('/coffee-house/img/apple.svg');
    width: 36px;
    height: 36px;
}

.icon-map {
    background-image: url('/coffee-house/img/map.svg');
    width: 20px;
    height: 20px;

}

.icon-phone {
    background-image: url('/coffee-house/img/phone.svg');
    width: 20px;
    height: 20px;
}

.icon-clock {
    background-image: url('/coffee-house/img/clock.svg');
    width: 20px;
    height: 20px;
    vertical-align: top;
}