.link {
    display: inline-block;
    background-color: $color-background-body;
    border-radius: 100px;
    color: $color-text-dark;
    &-container {
        display: flex;
        justify-content: center;
        align-items:center;
    }
}